// общий файл стилей проекта

// reset.css
@import "etwit/normalize"

// кастомные шрифты
@import "etwit/fonts"

// mixins
@import "etwit/mixins"

// общие элементы
@import "etwit/common"

// модальные окна
@import "etwit/modal"

// спиннер/прелоадер
@import "etwit/hi-icon"

// Страница Авторизации
@import "etwit/auth"

// Страница "Лента сообщений"
// шапка сайта
@import "etwit/header"
// боковая панель
@import "etwit/sidebar"
// лента сообщений
@import "etwit/feed"

// Страница "Коллеги"
@import "etwit/team"

// Страница "О проекте"
@import "etwit/about"