@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}

.hi-icon-wrap {
	background: rgba(255,255,255,0.7)
	display: none
	height: 100%
	position: fixed
	text-align: center
	top: 0
	width: 100%
	z-index: 1000
	
	.hi-icon {
		display: inline-block
		font-size: 0
		color: colorMain
		cursor: pointer
		margin: 15px 30px
		width: 90px
		height: 90px
		margin: -45px 0 0 -45px
		border-radius: 50%
		text-align: center
		position: absolute
		top: 50%
		left: 50%
		z-index: 1

		&:before {
			border-radius: 50%
			font-family: 'ecoicon'
			speak: none
			font-size: 48px
			line-height: 90px
			font-style: normal
			font-weight: normal
			font-variant: normal
			text-transform: none
			display: block
			-webkit-font-smoothing: antialiased
			
			-webkit-animation: spinAround 2s linear infinite
			-moz-animation: spinAround 2s linear infinite
			animation: spinAround 2s linear infinite
		}
		
		&:after {
			pointer-events: none
			position: absolute
			width: 100%
			height: 100%
			border-radius: 50%
			content: ''
			-webkit-box-sizing: content-box 
			-moz-box-sizing: content-box 
			box-sizing: content-box
		}
	}
	
	.hi-icon-mobile:before {content: "\e009"}
	.hi-icon-screen:before {content: "\e00a"}
	.hi-icon-earth:before {content: "\e002"}
	.hi-icon-support:before {content: "\e000"}
	.hi-icon-locked:before {content: "\e001"}
	.hi-icon-cog:before {content: "\e003"}
	.hi-icon-clock:before {content: "\e004"}
	.hi-icon-videos:before {content: "\e005"}
	.hi-icon-list:before {content: "\e006"}
	.hi-icon-refresh:before {content: "\e007"}
	.hi-icon-images:before {content: "\e008"}
	.hi-icon-pencil:before {content: "\e00b"}
	.hi-icon-link:before {content: "\e00c"}
	.hi-icon-mail:before {content: "\e00d"}
	.hi-icon-location:before {content: "\e00e"}
	.hi-icon-archive:before {content: "\e00f"}
	.hi-icon-chat:before {content: "\e010"}
	.hi-icon-bookmark:before {content: "\e011"}
	.hi-icon-user:before {content: "\e012"}
	.hi-icon-contract:before {content: "\e013"}
	.hi-icon-star:before {content: "\e014"}
}