menu-layout(active="about")
  h1 О проекте
  h2 Общая информаця
  p.
    Привет! Проект Etwit создан для предоставления возможности всем сотрудникам компании делиться своими профессиональными достижениями, идеями или просто настроением :)
    А так же - здесь можно поблагодарить коллег, или пожаловаться на кого-либо или на что-либо.
  P Кроме этого - менеджеры проектов еженедельно размещают сводную информацию о достижениях и показателях всех проектов компании.
  p А топ-менеджеры в свою очередь, рассказывают о планируемых изменениях в компании, общему уровню компании (с позиции маркетинга, PR, новых партнёрах, финансовых показателях, планируемых мероприятиях и других, важных событиях).
  h2 Возможности
  ul
    li Etwit в первую очередь служит в качестве ленты новостей компании и общения её сотрудников
    li В ленте сообщений Etwit вы так же можете добавлять адресованные сообщения конкретным сотрудникам, после чего они получат уведомления об их упоминании
    li Так же, вы можете использовать hash-тэги в своих твитах, которые в дальнейшем используются для поиска твитов одной тематики
    li В твитах - вы можете добавлять ссылку на картинку (например, загруженную с помощью Gyazo, или из соц.сетей), и она сразу же отобразится в ленте сообщений
    li Каждый час, парсер Etwit ходит по социальным сетям Вконтакте, Instagram и Facebook, и находит любые упоминания с хэш-тэгом #enaza
    li Если вы решите сообщить адреса своих аккаунтов в соц.сетях - все ваши посты будут автоматически копироваться в корпоративную ленту (так же - раз в 3 часа)
  h2 Технологии
  h3 Frontend
  ul
    li
      a(href="http://jade-lang.com/", target="_blank") Jade
      |, в качестве шаблонизатора
    li
      a(href="http://learnboost.github.io/stylus/", target="_blank") Stylus
      |, CSS-препроцессор
    li 
      a(href="http://gulpjs.com/", target="_blank") Gulp
      |, сборщик проектов
    li
      a(href="https://angularjs.org/", target="_blank") AngularJS
      |, в качестве MVVM-фреймворка 
  h3 Backend
  ul
    li 
      a(href="http://expressjs.com/", target="_blank") Express
      |, в качестве backend-составляющей
    li
      a(href="http://nginx.org/", target="_blank") Nginx
      |, обработка статики, ресайз изображений, проксирование веб-сокетов
    li
      a(href="http://socket.io/", target="_blank") Socket.io
      |, для работы с Web-Socket'ами
    li
      a(href="http://passportjs.org/", target="_blank") Passport.js
      |, для авторизации и аутентификации
    li
      a(href="http://sequelizejs.com/", target="_blank") Sequelize
      |, ORM для работы с MySQL
    li
      a(href="http://redis.io/", target="_blank") Redis
      |, для хранения сессий
  h2 Планы на будущее
  p Если проект найдёт активное применение в нашей компании в последующие 2-3 месяца после релиза, это будет означать, что продукт жизнеспособен, и заслуживает того, чтобы быть преобразованным в 
    b SAAS-продукт 
    | для всех небольших компаний мира (до 100 человек), с абонентской платой: 
    b $2.99 за участника
    |.
  p Кроме этого Etwit выступит в качестве основы для нашего корпоративного портала, который будет возглавлять Габова Елена.      
  h2 Благодарности
  p Альфа-версия этого проекта появилась благодаря идеи Васёва Евгения, и её первому релизу в инженерный день (6 марта 2014 года) командой состоящей из Васёва Евгения и Антона Шувалова.
  p Но, по-настоящему первый релиз, обязан команде состоящей из: 
  ul
    li
      b Микушина Павла 
      | (backend) 
    li
      b Карелина Александра 
      | (frontend)
    li
      b Урюкова Валерия 
      | (дизайн и UI)
    li
      b Васёва Евгения 
      | (frontend, менеджмент)
  p На проект было потрачено около 400 человеко-часов по выходным, праздникам и вечерам, а так же, некоторое количество денег :)