div(style="display:block;")#spinner.hi-icon-wrap
  //- a.hi-icon.hi-icon-cog Settings
  //- a.hi-icon.hi-icon-support Suppo
  a.hi-icon.hi-icon-star
  //- a.hi-icon.hi-icon-contract Contract
  //- a.hi-icon.hi-icon-refresh Refresh